<div class="col-md-6 offset-md-3">
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Username</th>
                <th> First Name</th>
                <th> Last Name </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let user of users" >
                <td> {{ user.userName }} </td>
                <td> {{ user.userFirstName }} </td>
                <td> {{ user.userLastName }} </td>
                <td>
                    <button class = "btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="edit(user)"> Update</button>
                    <button (click) = "deleteUser(user.userName)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateUser()">
          <div class="alert alert-success" role="alert" *ngIf="isUpdated">
            Update Successful!
          </div> 
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" #userName [(ngModel)]="userToUpdate.userName" name="username" id="username"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" #userFirstName [(ngModel)]="userToUpdate.userFirstName" name="firstName" id="firstName" class="form-control"
              >
          </div>
          <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" #userLastName [(ngModel)]="userToUpdate.userLastName" name="lastName" id="lastName"
              class="form-control" >
          </div>
          <br><br>
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary w-100">
          </div>
          <br><br>
        </form>
      </div>
    </div>
  </div>
</div>
