<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <h2>Create Post</h2>
        <form #postForm="ngForm" (ngSubmit)="addPost(postForm)">

            <div class="alert alert-success" role="alert" *ngIf="isSubmitted">
                Post Created!
            </div> 

            <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                Error
            </div>

            <label for="type">Type of post:</label>
            <select name="type" id="type" [(ngModel)]="post.type" class="form-control mb-3" placeholder="type">
                <option value="link">Link</option>
                <option value="media">Media</option>
            </select>

            <input type="text" [(ngModel)]="post.link" *ngIf="post.type === 'link'" name="link" id="link" placeholder="link here"
            class="form-control mb-3">

            <!-- <input type="text" [(ngModel)]="post.media"  name="media" id="media" placeholder="media"
            class="form-control mb-3"> -->

            <input type="file" multiple value="select" *ngIf="post.type === 'media'" name="media" id="media"[(ngModel)]="post.media" #selectFile (change)="onFileSelected($event)">

            <input type="text" [(ngModel)]="post.caption" name="caption" id="caption" placeholder="caption"
            class="form-control mb-3" required>

            <input type="submit" value="Create" class="btn btn-outline-primary form-control rounded-0">

        </form>
    </div>
</div>