<div class="container mt-3">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <div class="alert alert-danger" role="alert" *ngIf="isValid">
                Incorrect username or password
            </div>

            <input type="text" ngModel name="userName" id="userName" placeholder="Enter your username"
            class="form-control mb-3" >

            <input type="password" ngModel name="userPassword" id="userPassword" placeholder="Enter your password"
            class="form-control mb-3" >

            <input type="submit" value="Login" class="btn btn-outline-primary form-control rounded-0">

            <p class="text-center">Not Registered? <a routerLink="/register">Register here</a></p>
            <p class="text-center"><a routerLink="/forget-pass">Forget Password</a></p>

        </form>
    </div>
</div>