<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #regForm="ngForm" (ngSubmit)="register(regForm)">

            <!-- error messages and alerts -->
            

            <!-- <div class="alert alert-danger" role="alert" *ngIf="priemail.errors?.['email']">
                Please enter a valid email.
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="userPassword.errors?.minlength">
                Password min length: 5
            </div> -->
           
            <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                Incorrect or null fields
            </div>

            <div class="alert alert-success" role="alert" *ngIf="isRegistered">
                Registration Successful!
            </div> 
            
            <input type="text" ngModel name="userName" id="userName" placeholder="Enter your username"
            class="form-control mb-3" required autofocus>

            <input type="email" ngModel name="userEmail" id="userEmail" placeholder="Enter your email"
            class="form-control mb-3" required>

            <input type="text" ngModel name="userFirstName" id="userFirstName" placeholder="Enter your first name"
            class="form-control mb-3" required>

            <input type="text" ngModel name="userLastName" id="userLastName" placeholder="Enter your last name"
            class="form-control mb-3" required>

            <input type="password" ngModel name="userPassword" id="userPassword" placeholder="Enter your password"
            class="form-control mb-3" minlength="5" required>

            <input type="submit" value="Register" class="btn btn-outline-primary form-control rounded-0">

        </form>
    </div>
</div>