<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form (ngSubmit) = "onSubmit()">
            
            <input type="text" ngModel name="userName" id="userName" placeholder="Enter your username"
            class="form-control mb-3" autofocus>

            <input type="text" ngModel name="userFirstName" id="userFirstName" placeholder="Enter your first name"
            class="form-control mb-3">

            <input type="text" ngModel name="userLastName" id="userLastName" placeholder="Enter your last name"
            class="form-control mb-3">

            <input type="submit" value="Update Details" class="btn btn-outline-primary form-control rounded-0">

        </form>
    </div>
</div>