<div class="card card-block"
     *ngFor="let post of posts">
  <h4 class="card-title" *ngIf="post.type=='media'">{{post.media}}</h4>
  <h4 class="card-title" *ngIf="post.type=='link'">{{post.link}}</h4>
  <p class="card-text">Caption: {{post.caption}}</p>
</div>